/* Div borders... REMOVE BEFORE COMPLETE */
div{
  border: solid 1px black;
}


/* Header */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

/* Main Container */

.container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 32px;
}
.large {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 630px;}
.medium {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 300px;
}
.small {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 240px;
}
.tunaimage {
  background-image: url("../images/mainstory.png");
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia;
  height: 300px;
  text-align: left;
  display: flex;
}
.earthimage {
  background-image: url("../images/fallseason.png");
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  height: 300px;
  text-align: center;
  display: flex;
}
.researchimage {
  background-image: url("../images/hipstercameraman.png");
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  height: 300px;
  text-align: center;
  display: flex;
}
.catsimage {
  background-image: url("../images/catceo.png");
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  height: 300px;
  text-align: center;
  display: flex;
}
