/* Div borders... REMOVE BEFORE COMPLETE */
div{
  border: solid 1px black;
}


/* Header */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

/* Main Container */

.container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.container .large {
  display: flex;  flex-direction: column;  margin-right: 32px;  width: 630px;}
.container .medium {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 300px;
}
.container .small {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 240px;
}
.image {
  display: flex-grow;
}
